{% extends 'App/default.html' %}


{% load static %}


{% block indexHead %}
    <title>Машины</title>
{% endblock indexHead %}


{% block filter %}
    <div class="filter">
        <form method="get" action="{% url 'mainPage' %}">

            <label for="vehicle_model">Модель техники: </label>
            <select name="vehicle_model" id="vehicle_model">
                <option value="">All</option>
                {% for model in vehicle_models_names %}
                    <option value="{{ model }}" {% if model == selected_filter %}selected{% endif %}>{{ model }}</option>
                {% endfor %}
            </select>

            <label for="engine_model">Модель двигателя: </label>
            <select name="engine_model" id="engine_model">
                <option value="">All</option>
                {% for model in engine_models_names %}
                    <option value="{{ model }}" {% if model == filter_engine_model %}selected{% endif %}>{{ model }}</option>
                {% endfor %}
            </select>

            <label for="transmission_model">Модель трансмиссии: </label>
            <select name="transmission_model" id="transmission_model">
                <option value="">All</option>
                {% for model in transmission_models_names %}
                    <option value="{{ model }}" {% if model == filter_transmission_model %}selected{% endif %}>{{ model }}</option>
                {% endfor %}
            </select>

            <button type="submit">Применить фильтр</button>
            <!-- <button type="submit" name="resetFilterButton" value="True">Сбросить фильтр</button> -->
            <input type="reset" value="Сбросить фильтр">
        </form>
<!--         
        <ul>
            {% for vehicle in vehicles %}
                <li>{{ vehicle.vehicleModel }} - {{ vehicle.other_fields }}</li>
            {% endfor %}
        </ul> -->
    </div>
{% endblock filter %}


{% block mainPage %}

    {% if vehicles %}
    <div class="mainView">
        <table class="tableVehicles">

            <tr style="background-color: #163E6C">
                <td style="text-align: center;">Зав. № машины</td>
                <td style="text-align: center;">Модель техники</td>
                <td style="text-align: center;">Модель двигателя</td>
                <td style="text-align: center;">Зав. № двигателя</td>
                <td style="text-align: center;">Модель трансмиссии</td>
                <td style="text-align: center;">Зав. № трансмиссии</td>
                <td style="text-align: center;">Модель ведущего моста</td>
                <td style="text-align: center;">Зав. № ведущего моста</td>
                <td style="text-align: center;">Модель управляемого моста</td>
                <td style="text-align: center;">Зав. № управляемого моста</td>
                <td style="text-align: center;">Договор поставки №, дата</td>
                <td style="text-align: center;">Дата отгрузки с завода</td>
                <td style="text-align: center;">Грузополучатель (конечный потребитель)</td>
                <td style="text-align: center;">Адрес поставки (эксплуатации)</td>
                <td style="text-align: center;">Комплектация (доп. опции)</td>
                <td style="text-align: center;">Клиент</td>
                <td style="text-align: center;">Сервисная компания</td>
            </tr>
        
        {% for vehicle in page %}

                <tr style="background-color:{% cycle 'white' '#EBE6D6' %}; text-align: center;">

                        <td>{{ vehicle.vehicleNumber }}</td>
                        <td>{{ vehicle.vehicleModel }}</td>
                        <td>{{ vehicle.engineModel }}</td>
                        <td>{{ vehicle.engineNumber }}</td>
                        <td>{{ vehicle.transmissionModel }}</td>
                        <td>{{ vehicle.transmissionNumber }}</td>
                        <td>{{ vehicle.driveAxleModel }}</td>
                        <td>{{ vehicle.driveAxleNumber }}</td>
                        <td>{{ vehicle.steeringAxleModel }}</td>
                        <td>{{ vehicle.steeringAxleNumber }}</td>
                        <td>{{ vehicle.deliveryContract_N_data }}</td>
                        <td>{{ vehicle.deliveryDate }}</td>
                        <td>{{ vehicle.consignee }}</td>
                        <td>{{ vehicle.deliveryAdress }}</td>
                        <td>{{ vehicle.completeSet }}</td>
                        <td>{{ vehicle.client }}</td>
                        <td>{{ vehicle.serviceCompany }}</td>

                </tr>
        {% endfor %}
        </table>   
    {% else %}
        <h2>No vehicles</h2>
    {% endif %}
    </div>
{% endblock mainPage %}


{% block pagination %}

{# Добавляем пагинацию на страницу #}
<div class="paginator" style="text-align: center;">Page
    {# Добавляем "<" #}
    {% if page.has_previous %}
       <a href="?page={{ page.previous_page_number }}"><</a>
    {% endif %}

    {# Информация о предыдущих страницах #}
    {% if page.has_previous %}
       <a href="?page=1">1</a>
       {% if page.previous_page_number != 1 %}
           ...
           <a href="?page={{ page.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page.number }}

    {# Информация о следующих страницах #}
    {% if page.has_next %}
       <a href="?page={{ page.next_page_number }}">{{ page.next_page_number }}</a>
       {% if paginator.num_pages != page.next_page_number %}
           ...
           <a href="?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
       {% endif %}
    {% endif %}

    {# Добавляем ">" #}
    {% if page.has_next %}
       <a href="?page={{ page.next_page_number }}">></a>
    {% endif %}
</div>
{% endblock pagination %}